apiVersion: qserv.lsst.org/v1alpha1
kind: Qserv
metadata:
  name: qserv
spec:
  imagePullPolicy: "IfNotPresent"
  storageclass: "standard"
  storagecapacity: "1Gi"
  networkpolicies: true
  czar:
  ingest:
    dbimage: "mariadb:10.2.16"
  worker:
    replicas: 2
  replication:
      dbimage: "mariadb:10.2.16"
  xrootd:
    replicas: 2
